@import 'vars';
@import 'global';
@import 'fonts';
//header
.header__top{
    background-color: $bg;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    .header__btn{
        width: 140px;
        height: 36px;
        background-color: $btn;
        color: #fff;
        text-align: center;
        padding-top: 4px;
        border-radius: 18px;
    }
    .header__box{
        margin-right: 5px;
        display: flex;
        align-items: center;
    }
}
.header__menu-inner{
    display: flex;
    justify-content: space-between;
}
.menu{
    display: flex;
    align-items: center;
    height: 80px;
}
.menu__list{
    li{
        display: inline-block;
        & + li{
            margin-left: 34px;
        }
    }
    a{
        color: #000;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 42px;
        @include f500;
    }
}
.header__circle{
    position: relative;
    color: #7e8fa1;
    font-size: 20px;
    position: relative;
    &.notification{
        margin-left: 50px;
        span{
            background-color: #ff6a6c;
        }
    }
    &.message{
        span{
            background-color: #62d03b;
        }
    }
    &.basket{
        margin-right: 50px;
        span{
            background-color: $btn;
        }
    }
    & + .header__circle{
        margin-left: 30px;
    }
    span{
        position: absolute;
        height: 22px;
        width: 22px;
        border-radius: 50%;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
        top: -15px;
        right: -13px;
        color: #fff;
        @include f500;
    }
}
.user{
    position: relative;


    &__inner{
        display: flex;
    }
    &__images{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #7c7979;
        margin-right: 22px;
        overflow: hidden;
    }
    .user__name{
        color: #333333;
        font-size: 14px;
        @include f700;
    }
    .user__money{
        color: $btn;
        font-size: 14px;
        @include f700;
    }
}
.user__menu{
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    background-color: #fff;
    position: absolute;
    padding: 0px 30px;
    border-top: 0px solid $btn;
    border-bottom-right-radius: 2px ;
    border-bottom-left-radius: 2px ;
    top: 75px;
    left: -103px;
    width: 270px;
    z-index: 2;
    overflow: hidden;
    height: 0;
    transition: all .5s;
    a{
        font-size: 15px;
        color: #54667a;
        line-height: 36px;
        padding-left: 10px;
    }

}
.user__box{
    position: relative;
    height: 81px;
    margin-top: 28px;
    overflow: visible;
    &:hover{
        
            &::before{
                position: absolute;
                content: "\f0d7";
                color: $btn;
                font-family: 'icomoon';
                font-size: 25px;
                top: 57px;
                transform: rotate(180deg);
                right: 40px;
                transition: all .5s;

            }
        
        .user__menu{
            height: auto;
            padding: 20px 30px ;
            border-top: 1px solid $btn;
            overflow: auto;



        }
    }
}
  
//search
.header_menu-search{
    padding-top: 17px;
    width: 360px;
    form{
        margin: 0px auto;
        position: relative;
        input{
            display: block;
            width: 100%;
            border-radius: 22px;
            height: 44px;
            border: 1px solid #d9dfe5;
            outline: none;
            padding-left: 17px;
            &::placeholder{
                color: #898f96;
            }
        }
    }
    button{
        position: absolute;
        border: none;
        background-color: $btn;
        right: 0px;
        top: 0px;
        bottom: 0;
        border-radius: 22px;
        height: 44px;
        width: 70px;
        cursor: pointer;
        outline: none;
    }
}
//introduction
.introduction{
    background-color: $bg2;
    &__inner{
        text-align: center;
        padding-top: 184px;
        padding-bottom: 141px;
        &-first_title{
            line-height: 70px;
            font-size: 60px;
            font-family: 'Quicksand-Regular', sans-serif;
            font-weight: 400;
        }
        &-second_title{
            line-height: 70px;
            font-size: 60px;
            @include f700;
        }
        &-text{
            font-family: 'Quicksand-Regular', sans-serif;
            font-weight: 400; 
            font-size: 20px;
            margin-top: 36px;
        }
    }
    .introduction__inner-btn{
        margin-top: 68px;
        button{
            width: 190px;
            height: 55px;
            border-radius: 95px;
            border: #fff 1px solid;
            color: #fff;
            background-color: transparent;
            font-size: 16px;
            margin-left: 15px;
            margin-right: 15px;
            transition: 0.7s;
            cursor: pointer;
        }
        button:hover{
            color: $btn;
            background-color: #fff;
            transition: 0.7s;
        }
    }

}
//search
.search{
    
    .search__bg-blue{
        height: 96px;
        background-color: $bg2;
    }
    .search__bg-white{
        height: 90px;
        margin-bottom: 100px;
    }
    .container{
        position: relative;
    
        .search__inner{
            position: absolute;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #fff;
            text-align: center;
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            line-height: 30;
            top: -69px;
            left: 30px;
            max-width: 1140px;
            border-radius: 6px;
            z-index: 1;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            &-form{
                max-width: 808px;
                margin-left: 40px;
                position: relative;
                input{
                    display: block;
                    width: 808px;
                    border-radius: 4px;
                    height: 53px;
                    border: 1px solid #dcdcdc;
                    font-size: 14px;
                    outline: none;
                    padding-left: 27px;
                    padding-right: 200px;
                    &::placeholder{
                        color: #90a4ae;
                    }
                }
                button{
                    position: absolute;
                    border: 1px solid #dcdcdc;
                    background-color: transparent;
                    right: 0;
                    height: 53px;
                    top: 0;
                    width: 193px;
                    padding-left: 20px;
                    padding-right: 20px;
                    display: flex;
                    justify-content: space-between;
                    cursor: pointer;
                    span{
                        margin-top: 16px;
                    }
                    img{
                        margin-top: 21px;
                    }
                }
            }
            .search__inner-btn{
                width: 223px;
                height: 55px;
                margin-right: 40px;
                margin-left: 30px;
                background-color: $btn;
                color: #fff;
                border: none;
                border-radius: 4px;
                cursor: pointer;
            }
        }
        .search__inner-form-background{
            background-color: rgb(255, 255, 255);
            opacity: 0.502;
            border-radius: 6px;
            position: absolute;
            &.first{
                width: 1110px;
                height: 100px;
                top: -83px;
                left: 45px;
            }
            &.second{
                width: 1080px;
                height: 100px;
                top: -96px;
                left: 60px;
            }
        }
    }
}
//advantages
.advantages__inner{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 120px;
    &-item{
        max-width: 360px;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 35px;
        padding-top: 40px;
        border-radius: 4px;
        transition: 0.5s;
        h4{
            font-size: 24px;
            color: #010101;
        }
        p{
            font-size: 16px;
            color:#555555
        }
    }
    &-item:hover{
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        transition: 0.5s;
    }
}
//products
.products{
    background-color: $bg3;
    padding-top: 120px;
    padding-bottom: 120px;
    .products__container-filter{
        padding-top: 44px;
        padding-bottom: 40px;
        padding-right: 31px;
        padding-left: 31px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;

        span{
            font-size: 16px;
            color: $grey;
            position: relative;
            margin-right: 31px;

        }
        span::after{
            content: "";
            position: absolute;
            right: -25px;
            top: 4px;
            width: 5px;
            height: 20px;
            background-image: url(../images/icons/dots.svg);
            
        }
    }
    .products__inner-btn{
        margin-top: 30px;
        margin-bottom: 50px;
        background-color: #fff;
        padding-left: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        button{
            padding-left: 15px;
            padding-right: 15px;
            width: auto;
            height: 32px;
            background-color: $btn2;
            border-radius: 16px;
            border: none;
            color: $grey;
            font-size: 15px;
            margin-right: 10px;
            outline: none;
            cursor: pointer;
            &.mixitup-control-active{
                background-color: $btn;
                color: #fff;
                outline: none;
            }
        }
        button:last-child{
            margin-right: 0;
        }
    }
}
.products__inner-box{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .product__item{
        max-width: 361px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 31px;
        transition: all 0.4s;
    &-buttons{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .product__item-img{
            width: 100%;
            height: 230px;
            transition: all .4s;
        }
        .first__btn{
            display: none;
            position: absolute;
            top: 93px;
            left: 45px;
            height: 43px;
            width: 128px;
            background-color: transparent;
            border: #fff 1px solid;
            color: #fff;
            font-size: 15px;
            border-radius: 21.5px;
            outline: none;
        }
        .second__btn{
            display: none;
            position: absolute;
            top: 93px;
            right: 45px;
            height: 43px;
            width: 128px;
            background-color: transparent;
            border: #fff 1px solid;
            color: #fff;
            font-size: 15px;
            border-radius: 21.5px;
            outline: none;
        }
        .first__btn:hover,
        .second__btn:hover{
            background-color:#fff;
            color: $btn;
            transition: 0.4s;
        }
    }
    }
    .product__item:hover .first__btn,
    .product__item:hover .second__btn{
        display: block;
        cursor: pointer;
    }
    .product__item:hover .product__item-img{
        background-image: url(../images/product-bg.png) !important;
        transition: all .4s;
    }
    .product__item-content{
        margin-left: 29px;
        .content__title{
            font-size: 20px;
            @include f500;
            color: #000;
            margin-bottom: 21px;
        }
        .content__box{
            display: flex;
            .content__box-theme{
                display: flex;
                align-items: center;
                margin-right: 20px;
                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-position: center;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 7px;
                }
                span{
                    color: #000;
                    font-size: 15px;
                }
            }
            .content__box-cms{
                display: flex;
                align-items: center;
                .avatar{
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    background-position: center;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 7px;
                }
                span{
                    color: #7347c1;
                    font-size: 15px;
                }
            }
        }
        p{
            margin-top: 35px;
            margin-bottom: 35px;
            font-size: 16px;
            color: #555555;
        }
        .product__content-lower{
            display: flex;
            border-top: 1px solid $border;
            padding-top: 15px;
            padding-bottom: 16px;
            margin-left: -29px;
            .content__price{
                margin-right: 15px;
                button{
                    margin-left: 29px;
                    width: 60px;
                    height: 30px;
                    color: $btn;
                    background-color: #e6f1fd;
                    border-radius: 15px;
                    border: none;
                    @include f500;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
            .content__item-likes{
                display: flex;
                color: #6f7d8d;
                font-size: 15px;
                padding-top: 1px;
                margin-right: 17px;
                position: relative;
                &::before{
                    content: '\f08a';
                    font-family: 'icomoon';
                    color: #7f4ec2;
                    margin-right: 5px;
                    font-size: 15px;
                }
                .jq-ry-group-wrapper{
                    cursor: pointer;
                }
            }
            .content__item-trolley{
                color: $btn;
                font-size: 15px;
                padding-top: 1px;
                position: relative;
                margin-left: 60px;
            }
            .content__item-trolley::before{
                content: "";
                position: absolute;
                background-image: url(../images/icons/cart.png);
                width: 14px;
                height: 14px;
                left: -21px;
                top: 8px;
            }
        }  
    }

}
.products__bottom-btn{
    margin-top: 30px;
    text-align: center;
    button{
        font-size: 16px;
        height: 55px;
        width: 190px;
        border-radius: 27.5px;
        border: none;
        background-color: $btn;
        color: #fff;
        cursor: pointer;
        &.mixitup-control-active{
            outline: none;
        }
    }
    
}
//product slider
.product-slider{
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    &__inner-title{
        background-color: #fff;
        padding-top: 44px;
        padding-bottom: 40px;
        padding-right: 31px;
        padding-left: 31px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        margin-bottom: 50px;
    }
    .content__item{
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 30px 0px rgba(147, 155, 168, 0.1);
        display: flex !important;
        min-height: 450px;
        &-image{
            max-width: 555px;
            width: 100%;
            img{
                width: 555px;
                min-height: 450px;
                background-repeat: no-repeat;
                display: block;
                background-position: center;
                background-size: cover;
            }


        }
    }
    .content__item-text{
        padding: 50px 50px 0 50px;
        .text-title{
            font-size: 24px;
            color: #000;
            @include f500;
            margin-bottom: 20px;
        }
        .text-box{
            display: flex;
            .text-theme{
                display: flex;
                align-items: center;
                margin-right: 20px;
                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-position: center;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 7px;
                }
                span{
                    color: #000;
                    font-size: 15px;
                }
            }
            .text-cms{
                display: flex;
                align-items: center;
                .avatar{
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    background-position: center;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 7px;
                }
                span{
                    color: #7347c1;
                    font-size: 15px;
                }
            }
        }
        p{
            margin-top: 30px;
            margin-bottom: 35px;
            font-size: 16px;
            color: #555555;
        }
        .text-buttons{
            display: flex;
            button{
                background-color: $btn2;
                color: #868c96;
                font-size: 15px;
                outline: none;
                border: none;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-right: 14px;
                padding-left: 14px;
                border-radius: 15px;
                margin-left: 7px;
                margin-bottom: 44px;
            }
        }
        .text-lower{
            display: flex;
            border-top: 1px solid $border;
            padding-top: 15px;
            padding-bottom: 16px;
            position: relative;
            .text-lower__price{
                margin-right: 35px;
                button{
                    padding: 8px 18px 8px 18px;
                    color: #fff;
                    background-color: $btn;
                    border-radius: 16px;
                    border: none;
                    @include f500;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
            .text-lower-likes{
                display: flex;
                color: #6f7d8d;
                font-size: 15px;
                padding-top: 1px;
                margin-right: 74px;
                .jq-ry-group-wrapper{
                    cursor: pointer;
                }
            }
            .text-lower-trolley{
                color: $btn;
                font-size: 15px;
                padding-top: 1px;
                position: relative;
            }
            .text-lower-trolley::before{
                content: "";
                position: absolute;
                background-image: url(../images/icons/cart.png);
                width: 14px;
                height: 14px;
                left: -21px;
                top: 8px;
            }
            .rate-star{
                position: absolute;
                right:  0;
            }
        }
    }
    .slick-prev{
        position: absolute;
        top: -128px;
        right: 65px;
        background-color: #7347c1;
        border: none;
        padding: 15px 40px 15px 25px;
        border-radius: 30px;
        outline: none;
        cursor: pointer;

    }
    .slick-next{
        position: absolute;
        top: -128px;
        right: 35px;
        background-color: #7347c1;
        border: none;
        padding: 15px 25px 15px 35px;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
    }
}

//followers-slider

.followers-slider{
    background-color: #eff1f5;
    padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    &__inner-title{
        background-color: #fff;
        padding-top: 44px;
        padding-bottom: 40px;
        padding-right: 31px;
        padding-left: 31px;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        border-radius: 4px;
        margin-bottom: 50px;
    }
    .followers-slider__inner-content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .slick-slide {
            margin-right: 3.5px;
        }
    .product__item{
        max-width: 361px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        margin-bottom: 31px;
        transition: all 0.4s;
        margin-left: 13px;

    &-buttons{
        position: relative;
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        .product__item-img{
            width: 100%;
            height: 230px;
            transition: all .4s;
        }
        .first__btn{
            display: none;
            position: absolute;
            top: 93px;
            left: 45px;
            height: 43px;
            width: 128px;
            background-color: transparent;
            border: #fff 1px solid;
            color: #fff;
            font-size: 15px;
            border-radius: 21.5px;
            outline: none;
        }
        .second__btn{
            display: none;
            position: absolute;
            top: 93px;
            right: 45px;
            height: 43px;
            width: 128px;
            background-color: transparent;
            border: #fff 1px solid;
            color: #fff;
            font-size: 15px;
            border-radius: 21.5px;
            outline: none;
        }
        .first__btn:hover,
        .second__btn:hover{
            background-color:#fff;
            color: $btn;
            transition: 0.4s;
        }
    }
    }
    .product__item:hover .first__btn,
    .product__item:hover .second__btn{
        display: block;
        cursor: pointer;
    }
    .product__item:hover .product__item-img{
        background-image: url(../images/product-bg.png) !important;
        transition: all .4s;
    }
    .product__item-content{
        margin-left: 29px;
        .content__title{
            font-size: 20px;
            @include f500;
            color: #000;
            margin-bottom: 21px;
        }
        .content__box{
            display: flex;
            .content__box-theme{
                display: flex;
                align-items: center;
                margin-right: 20px;
                .avatar{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-position: center;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 7px;
                }
                span{
                    color: #000;
                    font-size: 15px;
                }
            }
            .content__box-cms{
                display: flex;
                align-items: center;
                .avatar{
                    width: 17px;
                    height: 17px;
                    border-radius: 50%;
                    background-position: center;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin-right: 7px;
                }
                span{
                    color: #7347c1;
                    font-size: 15px;
                }
            }
        }
        p{
            margin-top: 35px;
            margin-bottom: 35px;
            font-size: 16px;
            color: #555555;
        }
        .product__content-lower{
            display: flex;
            border-top: 1px solid $border;
            padding-top: 15px;
            padding-bottom: 16px;
            margin-left: -29px;
            .content__price{
                margin-right: 15px;
                button{
                    margin-left: 29px;
                    width: 60px;
                    height: 30px;
                    color: $btn;
                    background-color: #e6f1fd;
                    border-radius: 15px;
                    border: none;
                    @include f500;
                    font-size: 15px;
                    cursor: pointer;
                }
            }
            .content__item-likes{
                display: flex;
                color: #6f7d8d;
                font-size: 15px;
                padding-top: 1px;
                margin-right: 17px;
                position: relative;
                &::before{
                    content: '\f08a';
                    font-family: 'icomoon';
                    color: #7f4ec2;
                    margin-right: 5px;
                    font-size: 15px;
                }
                .jq-ry-group-wrapper{
                    cursor: pointer;
                }
            }
            .content__item-trolley{
                color: $btn;
                font-size: 15px;
                padding-top: 1px;
                position: relative;
                margin-left: 60px;
            }
            .content__item-trolley::before{
                content: "";
                position: absolute;
                background-image: url(../images/icons/cart.png);
                width: 14px;
                height: 14px;
                left: -21px;
                top: 8px;
            }
        }  
    }
    .slick-prev{
        position: absolute;
        top: -128px;
        right: 65px;
        background-color: #0674ec;
        border: none;
        padding: 15px 40px 15px 25px;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
    }
    .slick-next{
        position: absolute;
        top: -128px;
        right: 35px;
        background-color: #0674ec;
        border: none;
        padding: 15px 25px 15px 35px;
        border-radius: 30px;
        outline: none;
        cursor: pointer;
    }
}
}

    
//numbers
.numbers{
    background-color: #212225;
}
.numbers__inner{
    display: flex;
    justify-content: space-between;
    padding: 98px 0 98px;
    &-item{
        text-align: center;
        color: #9f9f9f;
    }
    .briefcase{
        color: #feb71d;
    }
    .cloud{
        color: #58c9e9;
    }
    .smile{
        color: #77de51;
    }
    .group{
       color:  #ff6a6d;
    }
    .numbers__inner-icon{
        font-size: 48px;
    }
    .numbers__inner-num{
        font-size: 36px;
        margin-top: 46px;
    }
    .numbers__inner-text{
        color: #fff;
        font-size: 18px;
        margin-top: 15px;
    }
}

//benifits
.benifits{
    padding-top: 120px;
    padding-bottom: 120px;
    .benifits__inner{
        display: flex;
        flex-direction: column;
    }
.benifits__inner-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    .title{
        margin-bottom: 30px;
        font-size: 36px;
        @include f500;
        span{
            color: $btn;
        }
    }
    .text{
        color: #555555;
        max-width: 680px;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        @include f500;
    }
}
.benifits__inner-items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
    .item__content{
        text-align: center;
        max-width: 360px;
        padding: 20px 20px 57px 20px;
        border-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        margin-top: 30px;
        &-num{
            color: rgba(92, 135, 248, 0.2);
            font-size: 48px;
            @include f400;
            margin-right: 267px;
            margin-bottom: 7px;
        }
        &-title{
            margin-top: 50px;
            font-size: 24px;
            @include f500;
            color: #000;
        }
        &-text{
            margin-top: 30px;
            font-size: 16px;
            @include f500;
            color: #555555;
        }
        .icon-drivers-license-o{
            color: $btn;
            font-size: 60px;
        }
        .icon-magic{
            color: #7f4ec2;
            font-size: 60px;
        }
        .icon-lock{
            color: #77de51;
            font-size: 60px;
        }
        .icon-bar-chart{
            color: #feb71d;
            font-size: 60px; 
        }
        .icon-envira{
            color: #58c9e9;
            font-size: 60px;  
        }
        .icon-phone{
            color: #ff6a6d;
            font-size: 60px;  
        }
    }
}
}

//sell-buy

.sell-buy__inner{
    display: flex;
    .sell-buy__inner-sell{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 100%;
        .sell__title{
            font-size: 36px;
            @include f500;
            margin-top: 50px;
        }
        .sell__text{
            margin-top: 30px;
            font-size: 16px;
            @include f500;
            padding-left: 25px;
            padding-right: 25px;
        }
        .sell__btn{
            button{
                margin-top: 50px;
                background-color: #fff;
                color: $btn;
                font-size: 16px;
                padding-top: 21px ;
                padding-bottom: 21px;
                border: none;
                border-radius: 29px;
                width: 190px;
                cursor: pointer;
                outline: none;
            }
        }
    }
}

//feedback
.feedback{
    padding-top: 120px;
    padding-bottom: 120px;
}
.feedback__inner-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    .title{
        margin-bottom: 30px;
        font-size: 36px;
        @include f500;
        span{
            color: $btn;
        }
    }
    .text{
        color: #555555;
        max-width: 680px;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        @include f500;
    }
}
.feedback__inner-content{
    display: flex;
    margin-top: 60px;
    .content__item{
        min-width: 554px;
        border-left: 2px solid $btn;
        padding: 50px 40px;
        margin-right: 24px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    }
}
.content__item-title{
    display: flex;
    position: relative;
    margin-bottom: 30px;
    .content__item-logo{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
    .content__item-signature{
        display: block;
        margin-left: 45px;
        margin-top: 15px;
        .name{
            font-size: 20px;
            color: #000;
            @include f500;
        }
        .profession{
            font-size: 16px;
            color: #555555;
            @include f500;
        }
    }
    .content__item-comment{
        font-size: 60px;
        color: #e8e8e8;
        position: absolute;
        right: 0;
        top: 6px;
    }
}
.content__item-text{
    font-size: 16px;
    color: #555555;
    @include f500;
}
.feedback__bottom-btn{
    margin-top: 60px;
    text-align: center;
    button{
        font-size: 16px;
        height: 55px;
        width: 190px;
        border-radius: 27.5px;
        border: none;
        background-color: $btn;
        color: #fff;
        cursor: pointer;
    }
}

//News

.news{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #eff1f5;
    .news__inner-content{
        display: flex;
        justify-content: space-between;
        .content__item{
            background-color: #fff;
            max-width: 361px;
            background-color: rgb(255, 255, 255);
            box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
            .comtent__item-img{
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            .content__item-wrapper{
                padding: 30px 30px;
                .wrapper-title{
                    font-size: 22px;
                    color: #000;
                    font-weight: 600 ;
                    margin-bottom: 30px;
                }
                .wrapper-text{
                    font-size: 16px;
                    color: #555555;
                    @include f500;
                }

            }
            .comtent__item-footer{
                display: flex;
                border-top: 1px solid #ececec;
                font-size: 15px;
                line-height: 37px;
                color: #999999;
                padding: 12px 30px;
                .footer__date{
                    margin-right: 45px;
                    &::before{
                        content: "\f0a2";
                        font-family: 'icomoon';
                        color: #0674ec;
                        margin-right: 5px;
                    }
                }
            
                .footer__comment{
                    padding-left: 30px;
                    border-left: 1px #ececec solid;
                    &::before{
                        content: "\f0e5";
                        font-family: 'icomoon';
                        margin-right: 5px;
                    }
                }
                .footer__views{
                    margin-left: 32px;
                    &::before{
                        content: "\f06e";
                        font-family: 'icomoon';
                        margin-right: 5px;
                    }
                }
            }
        }
    }
}
.news__inner-title{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 60px;
    .title{
        margin-bottom: 30px;
        font-size: 36px;
        @include f500;
        span{
            color: $btn;
        }
    }
    .text{
        color: #555555;
        max-width: 680px;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        @include f500;
    }
}
  
//terms

.terms__inner{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
    .terms__inner-item{
        display: block;
        text-align: center;
        padding: 0px 84px 0px 84px;
        .item-text{
            font-size: 24px;
            color: #000;
            span{
                color: $btn;
            }
        }
    }
}

//Join
.join{
    background: linear-gradient( to left, rgb(13,62,242) 0%, rgb(64,48,201) 46%, rgb(114,33,160) 100%);
    opacity: 0.902;
    padding-top: 110px;
    padding-bottom: 110px;
}
.join__inner{
    display: block;
    text-align: center;
    .join__inner-title{
        font-size: 36px;
        color: #fff;
        margin-bottom: 30px;
    }
    .join__inner-text{
        font-size: 18px;
        color: #fff;
    }
}
.join__inner-btn{
    margin-top: 50px;
    text-align: center;
    button{
        font-size: 16px;
        height: 55px;
        width: 190px;
        border-radius: 27.5px;
        border: none;
        background-color: #fff;
        color: $btn;
        cursor: pointer;
    }
}

//footer
.footer{
    background-color: #262b30;
}
.footer__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 115px;
    padding-bottom: 120px;
    .footer__col{
        max-width: 360px;
        display: block;
        .footer__info-phone{
            margin-left: 30px;
            position: relative;
            margin-top: 25px;
            &::before{
                content: "\f095";
                font-family: 'icomoon';
                font-size: 16px;
                position: absolute;
                left: -30px;
            }
        }
        .footer__info-mail{
            margin-left: 30px;
            position: relative;
            margin-top: 15px;
            &::before{
                content: "\f003";
                font-family: 'icomoon';
                font-size: 16px;
                position: absolute;
                left: -30px;
            }
        }
        .footer__info-map{
            margin-left: 30px;
            position: relative;
            margin-top: 15px;
            &::before{
                content: "\f041";
                font-family: 'icomoon';
                font-size: 16px;
                position: absolute;
                left: -30px;
            }
        }
        .footer__form{
            max-width: 360px;
            margin: 0px auto;
            form{
                position: relative;
                margin-top: 30px;
                input{
                    display: block;
                    width: 100%;
                    border-radius: 25px;
                    height: 50px;
                    border: none;
                    font-size: 15px;
                    @include f500;
                    outline: none;
                    padding-left: 25px;
                    padding-right: 120px;
                    &::placeholder{
                        color: #ababab;
                        @include f500;
                    }
                }     
                button{
                    position: absolute;
                    border: none;
                    background-color: $btn;
                    color: #fff;
                    right: 0px;
                    top: 0px;
                    border-radius: 25px;
                    height: 50px;
                    width: 110px;
                    cursor: pointer;
                }
            }            
        }
        .footer__social-link{
            margin-bottom: 33px;
            li{
                display: inline-block;
                & + li{
                    margin-left: 7px;
                }
            }
            a{
                width: 28px;
                height: 28px;
                background-image: url(../images/icons/css_sprites.png);
                & + a{
                    margin-left: 7px;
                }
            }
        }
        .footer__social-link{
            margin-top: 50px;
            a{
                margin-right: 11px;
                width: 30px;
                height: 30px;
            }
            .link-twitter{
                background-position: -31px -1px;
                
            }
            
            .link-youtube{
                background-position:  -1px -31px;
            
            }
            
            .link-pinterest{
                background-position:  -31px -31px; 
                
            }
            .link-linkedin{
                background-position:  -61px -1px;
            }
        
        }
        
        &-list li a, 
        .footer__info,
        .footer__form-text{
            color: #ababab;
            font-size: 15px;
        }
        &-menu{
            max-width: 165px;
        }
        &-title{
            font-size: 18px;
            @include f500;
            margin-bottom: 35px;
            margin-top: 13px;
        }
        &-text{
            margin-top: 28px;
            color: #ababab;
            font-size: 15px;
        }
    }
}
.footer__copy{
    background-color: #192027;
    color: #999999;
    font-size: 15px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 38px;
    span{
        color: #fff;
    }
}
